body{
    margin: 0;
}
main{
    background: linear-gradient(to top,black 50%,white 50%);
    height: 100vh;
    justify-content: center;
    display: flex;
}
.main-container{
    display: flex;
    margin: 40px auto;
    width: 80%;
}
.pencil{
    width: 30%;
}
.pencil img{
    height: 70vh;
}
.ipad{
    width: 919px;
    height: 604px;
    display: flex;
    background-image: url(./image/iPad.png);
    background-color: white; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 38px;
    padding: 30px;
}
p{
    color: red;
}
.list{
    margin: 0 auto;
    margin-top: 79px;
    width: 49%;
    margin-left: 62px;
    height: 500px;
}
ul{
    list-style: none;
    width: 200px;
}
.rorate{
    height: 590px;
    margin-top: 28px;
    width: 7px;
    position: relative;
    right: 43px;
    background-color: black;
    border: 1px solid black;
}
.form{
    margin: 0 auto;
    margin-top: 79px;
    height: 240px;
    width: 49%;
}
.form p{
    position: relative;
    left: 100px;
}
#new{
    border: 0;
    border-bottom: 2px solid black;
    
    display: flex;
    position: relative;
    
    left: 49px;
    width: 218px;
}
#add{
    position: relative;
    left: 107px;
    top: 20px;
    width: 120px;
    height: 29px;
    color: white;
    background-color: lightgrey;
    border-color: lightgray;
    border-radius: 13px;
}
