body{
    margin: 0;
    position: absolute;
    top: -22px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
header{
    height: 100vh;
    width: 100%;
    background-color: lightslategrey;
    margin: 0 auto;
}
.header-container{
    position: relative;
    top: 50vh;
    text-align: center;
}
main{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}
.main-container{
    position: relative;
    top: 25vh;
    display: grid;
    justify-content: space-between;
max-width: 1400px;
    
}
#from-left{
    margin-bottom: 40px;
    position: relative;
    left: 100px;
    bottom: 150px;
}
#from-left hr{
    width: 250px;
    height: 1px;
    background-color: red;
    border: 1px solid red;
    position: absolute;
}
#from-right{
    width: 300px;
    position: absolute;
    right: 151px;
    
}
#from-right img{
    width: 400px;
    height: auto;
}
footer{
    height: 100vh;
    width: 100%;
    background-color: lightslategrey;
}
.footer-container{
    position: relative;
    top: 50vh;
    text-align: center;
}
#up{
    cursor: pointer;
}
#up:hover{
    color: salmon;
}