body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-container{
    margin: 0 auto;
    border: 2px solid slategray;
    display: block;
    width: 430px;
    text-align: center;
    height: 460px;
    border-radius: 10px;
}

.header-form{
margin: 0 auto;
justify-content: center;
text-align: center;
position: relative;
top: -21px;
}
h1{
    width: 100%;
    background-color: lawngreen;
    height: 50px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

/*#form div{
    margin: 0 auto;
    width: 100%;
    text-align: left;   
} */
.input-container{
margin: 0 auto;
width: 80%;
padding-left: 7px;
text-align: left
}
input{
    margin-bottom: 15px;
    width: 312px;
}
#terms{
    width: 5%;
}
.sex input{
width: 10px;
}
.signUp{
    margin-bottom: 15px;
    width: 100%;
    height: 35px;
}
.work-position{
    margin: 7px 5px;
}
#bSignUp{
    height: 35px;
    background-color: lawngreen;
    border-radius: 7px;
    border: 1px;
}
#position{
    width: 312px;
}
.invalid { border-color: red; }
#error { color: red }

.not-active{
display: none;
}
.active{
    height: auto;
    display: block;
}
#profile{
    margin: 0 auto;
    border: 2px solid slategray;
    width: 430px;
    text-align: center;
    height: auto;
    border-radius: 10px;
}
.profile-header{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 8px 8px 0 0;
    background-color: lawngreen;
    height: 50px;
}
.profile-header img{
    position: relative;
    top: 25px;
    width: 49px;
    height: 49px;
    background-color: white;
    border-radius: 25px;
}
.profile-fotter{
    background-color: lawngreen;
    height: 50px;
    border-radius: 0 0 8px 8px ;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
.avatar-man i{
height: 50px;
width: 50px;
}
.profile-main div{
    position: relative;
    top: 35px;
    height: 50px;
}
#signOut{
    margin-bottom: 20px;
}
.profile-fotter img{
    
    height: 20px;
}